{% extends "frontendTemplates/layouts/frame-player.html" %}

{% block title %} TNMusic | Webplayer {% endblock %}

{% block main-content %}


<section id="section-main">
    <div class="filterNav">
        <a href="{% url 'player-index-id' sid=song.id %}" class="filterNav-link">Đặc sắc</a>
        <a href="{% url 'player-category' sid=song.id %}" class="filterNav-link active">Phân loại</a>
        <a href="{% url 'player-genre' sid=song.id %}" class="filterNav-link">Thể loại</a>
        <a href="{% url 'player-mood' sid=song.id %}" class="filterNav-link">Tâm trạng</a>
        <a href="{% url 'player-artist' sid=song.id %}" class="filterNav-link">Nghệ sĩ</a>
        <a href="{% url 'player-favorites' sid=song.id %}" class="filterNav-link">Ưa thích</a>
    </div>
    <div class="music">
        <div class="music-page">
            <div class="music-head">
                <div class="music-head-item">
                    {% if not artist %}
                        <h1>Không có ca sĩ nào! Hiển thị tất cả các bài hát!</h1>
                    {% else %}
                        <h1>Bài hát của {{ artist.artist_name }}</h1>
                    {% endif %}
                </div>
            </div>
            {% load static %}
            <div class="music-row">
                {% if art_songs|length == 0 %}
                    <p>Không có bài hát nào!</p>
                {% else %}
            	{% for row in art_songs %}
                <a href='{% url "player-artist-details" sid=row.id aid=row.artist_name.id %}' class="music-col">
                    <div class="music-img">
                        {% static "./images/home.jpg" as baseURL %}
                        <img src='{{ baseURL|cut:".jpg" }}{{ forloop.counter }}.jpg' alt="night" class="img-fluid">
                        <button class="music-playBtn">
                            <img src='{% static "./images/play.svg" %}' alt="play">
                        </button>
                    </div>
                    <h3>{{ row.song_name }}</h3>
                    <h5>{{ row.artist_name.artist_name }}</h5>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>



{% endblock %}