<header id="header-account" class="header">
        <nav class="navbar navbar-expand bg-black">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home-index' %}">TNmusic</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Premium</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trợ giúp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tải xuống</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upgrade</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ user.name }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'account-index' %}">Tài khoản</a>
                                <a class="dropdown-item" href="{% url 'home-logout' %}">Đăng xuất</a>
                            </div>
                        </li>
                        {% else %}
						<li class="nav-item">
                            <a class="nav-link" href="{% url 'home-login' %}">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home-signup' %}">Đăng ký!</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>