<div class="col-3">
                    <div class="section-menu">
                        <div class="section-menu-user">
                            <div class="section-menu-user-img">
                                <!-- <img src="./images/user.svg" alt="user"> -->
                                <img src='{{usr.profile_pic.url}}' alt="user">
                                <label for="addUserImg" id="addUserImg-label">
                                    <i class="fas fa-user-edit"></i>
                                </label>
                                <input type="file" name="addUserImg" id="addUserImg">
                            </div>

                        </div>
                        <ul class="section-menu-nav">
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-index' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-home"></i>
                                    </span>
                                    Tổng quan tài khoản
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-edit' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                    Chỉnh sửa profile
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-edit-pass' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    Đổi mật khẩu
                                </a>
                            </li>

                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-subs' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="far fa-credit-card"></i>
                                    </span>
                                    Đăng ký
                                </a>
                            </li>

                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-privacy' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-user-lock"></i>
                                    </span>
                                    Quyền riêng tư
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>